<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:conf/spring/beans.xml" />

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:conf/pst.properties</value>
			</list>
		</property>
	</bean>

	<!-- 
	池化数据源
	<bean id="dataSource" name="dataSource,defaultDB," class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="COM.ibm.db2.jdbc.app.DB2Driver"></property>
		<property name="url" value="jdbc:db2:db2local"></property>
		<property name="username" value="${jdbc.datasource.username}" />
		<property name="password" value="${jdbc.datasource.password}" />
	</bean>
	
	<bean id="dataSource" name="dataSource,defaultDB,null," class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="COM.ibm.db2.jdbc.app.DB2Driver"></property>
		<property name="url" value="jdbc:db2:CWM"></property>
		<property name="username" value="zhangds" />
		<property name="password" value="zhangds123" />
	</bean>
    -->
    <bean id="dataSource" name="dataSource,defaultDB,null," class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.ibm.db2.jcc.DB2Driver"></property>
		<property name="url" value="jdbc:db2://localhost:50000/cwm:currentSchema=PT;"></property>
		<property name="username" value="zhangds" />
		<property name="password" value="86738652" />
	</bean>
    <!--
    <bean id="oracle" name="oracle" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@192.168.0.3:1521:xe"></property>
		<property name="username" value="md" />
		<property name="password" value="123321" />
    </bean>
    -->
    
    <tx:annotation-driven/>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  <property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="userDao" class="com.asiainfo.hb.web.models.UserDaoImpl" />
</beans>
