@charset "utf-8";
.toolbar{
    max-width:700px;
    min-width:450px;
    color:$color-normal;
    .toolbar-mark{
        //background-color: #FFFFFF;
        padding-top: 9px;
        padding-left: 5px;
    } 
    .buttonshow{
        margin-top: 3px;
        color: #94A2B2;
        background-color: #fff;
        border-color: #FFF;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 6px;
    }
    .dateChoice{
         margin-top: 10px;
         margin-left:12px;
         cursor:pointer;
    }  
}