html,body,ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: "MicrosoftYaHei", "Microsoft YaHei";
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

li{
	list-style: none;
	height: 20px;
	line-height: 20px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #999999;
}

.wrap{
	width: 98%;
	padding: 1%;
}

.inp-lab {
	width: 24%;
	height: 32px;
	line-height: 32px;
	float: left;
}

.inp-cont{
	width:70%;
	height:32px;
}

.fl{
	float: left;
}

.mar-8{
	margin: 8px;
}

.mar-l5{
	margin-left: 5px;
}

.mar-b15{
	margin-bottom: 15px;
}

.chart-box-title{
	height:35px;
	line-height: 35px;
	margin-top: 1%;
	background-color: #F4F4F4;
	border: 1px solid #ccc;
	border-bottom :none;
	width: 98%;
	text-align: center;
	font-size: 16px;
	color: #666666;
	border-radius: 3px 3px 0 0;
}

.chart-container{
	height: 350px;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 98%;
	border-radius: 0 0 3px 3px;
}

.ana-box{
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;
}

.ana-title{
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	background-color: #F4F4F4;
	font-size: 16px;
}

.ana-content{
	padding: 1% 0 0 1%;
}

.chart-item{
	height: 200px;
	background-color: #fff;
}

.item-box{
	width: 32%;
	height: 230px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 1% 1% 0;
}

.item-title{
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	background-color: #F4F4F4;
}

.qry-btn{
	padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    background-color: #5bc0de;
    border: 1px solid #46b8da;
}

.qry-btn:hover {
    background-color: #31b0d5;
    border-color: #269abc
}

.form-control{
	width: 100%;
	height: 136px;
	line-height: 30px;
	padding: 6px;
}

.mult-btn{
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
	color: #333;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 4px;
    font-weight: bold;
}

.mult-btn:HOVER{
	color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.user-qry{
	color: blue;
	height: 28px;
	line-height: 28px;
	text-decoration: underline;
}

.datagrid-row-selected {
  background: #ffe48d;
  color: #000;
}

.detail-box{
	border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
    margin: 5px;
    line-height: 22px;
    height: 88px;
    overflow: auto;
}

.oper{
	text-decoration: underline;
	color: blue;
}
