<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 加载配置属性文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath:conf/pst.properties" />

	<bean id="connectionFactoryN" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${com.asiainfo.hb.activemq.baseurl}"/>
		<property name="trustAllPackages" value="true"/>
	</bean>
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactoryN"/>
		<property name="defaultDestinationName" value="${com.asiainfo.hb.activemq.defaultDestinationName}"/>
	</bean>
</beans>